workflow:
  name: Solar System NodeJS Pipeline
  rules:
    - if $CI_COMMIT_BRANCH == 'main' || $CI_COMMIT_BRANCH =~ /^feature/
      when: always
    - if $CI_MERGE_REQUEST_BRANCH_NAME=~  /^feature/ && $CI_PIPELINE_SOURCE == 'merge_requets_event'
      when: always

stages:
  - test

unit_testing:
  stage: test 
  image: node:17-alpine3.14
  before_script:
    - npm install 
  script:
    - npm test 
