workflow:
    name: Solar System NodeJS Pipeline
    rules:
        - if: $CI_COMMIT_BRANCH == 'main' || $CI_COMMIT_BRANCH =~ '/^feature/'
          when: always
        - if: $CI_MERGE_REQUEST_BRANCH_NAME =~ '/^feature/' && $CI_PIPELINE_SOURCE =~ 'merge_request_event'
          when: always

stages:
    - test

variables:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: 'superuser'
    MONGO_PASSWORD: $M_DB_PASSWORD

unit_testing:
    stage: test
    image: node:17-alpine3.14
    before_script:
        - npm install
    script:
        - npm test
    artifacts:
        when: always
        access: all
        expire_in: 3 days
        name: Mocha-Test-Result
        paths:
            - test-results.xml
        reports:
            junit: test-results.xml

code_coverage:
    stage: test
    image: node:17-alpine3.14
    before_script:
        - npm install
    script:
        - npm run coverage
    artifacts:
        name: Code_Coverage_Result
        when: always
        expire_in: 3 days
        reports:
            coverage_report:
                coverage_format: cobertura
                path: coverage/cobertura-coverage.xml
    coverage: '/All files[^|]*\|\s+([\d\.]+)%/'
    allow_failure: true
    

    

